@import "./styles/variables";

body {
  background-color: $primary-black;
}

.app {
  background-color: $primary-black;
  width: 100%;
  animation: display 1.8s;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, $primary-green);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, $primary-red);
}

.animate {
  background-color: red;
  width: 100%;
  height: 100px;
  animation: display 4s;
}

.viewport-block {
  width: 100%;
  height: 50px;
  color: #fff;
  opacity: 0;

  &.active {
    opacity: 1;
    animation: display 0.6s;
  }
}

.section {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin: 50px 0;

  &.about {
    background-color: $primary-black;
    display: flex;
    height: 100vh;
    color: #fff;

    .left,
    .right {
      width: 50%;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        animation: display 1s;
      }

      .content {
        width: 60%;

        h3 {
          margin: 0;
          color: $primary-green;
          text-transform: uppercase;
          text-transform: uppercase;
        }

        h1 {
          margin: 0;
          margin-top: 10px;
        }

        p {
          color: #999d9f;
        }
      }

    }
    &.active {
      .left, .right {
        img {
          animation: wide 1s;
        }

        h3 {
          animation: .6s display;
        }
        
        h1 {
          animation: 1s display;
        }
        
        p {
          animation: .8s display;
        }
      }

    
    }
  }

  &.landing {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .svg {
      position: absolute;

      &.node {
        left: 32%;
        top: 62%;
      }

      &.react {
        left: 0%;
        right: 92%;
        top: 23%;
      }
    }

    .content {
      width: 40%;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;

      span {
        font-size: 14px;
        color: rgba($color: $primary-green, $alpha: 0.6);
        font-weight: bold;
      }

      h1 {
        color: $primary-green;
        margin: 0;
        font-size: 68px;
        text-transform: uppercase;
      }

      h3 {
        color: $primary-green;
        margin: 0;
        font-size: 42px;
        text-transform: uppercase;
        font-weight: normal;
      }

      a.btn {
        margin-top: 20px;
        width: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 1px solid $primary-green;
        padding: 10px;
        color: $primary-green;
        transition: 0.4s ease all;
        text-transform: uppercase;
        font-weight: bold;

        &:hover {
          background: $primary-green;
          color: #000;
        }
      }

      &.active {
        opacity: 1;
        span {
          animation: display 0.4s;
        }

        h1 {
          animation: display 1s;
        }

        h3 {
          animation: display 1.8s;
        }
      }
    }

    .image {
      width: 40%;

      img {
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 40px;
        overflow: hidden;
      }
    }
  }

  &.works {
    width: 100%;
    .container {
      padding: 80px 0;
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        color: $primary-green;
        text-transform: uppercase;
      }

      .line {
        width: 50px;
        margin: 0 auto;
        height: 3px;
        background-color: $primary-green;
      }
    }
  }
}

@keyframes display {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes wide {
  0% {
    width: 0%;
  }

  10% {
    width: 10%;
  }

  20% {
    width: 20%;
  }

  40% {
    width: 40%;
  }

  80% {
    width: 60%;
  }

  100% {
    width: 100%;
  }
}
